<style>
    .breadcrumb {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #333;
    }

    .breadcrumb a {
        text-decoration: none;
        color: #764ba2;
    }

    .breadcrumb .separator {
        margin: 0 0.5rem;
    }
</style>
{{ if . }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{ range . }}
        <span>
            <a href="{{ .URL }}">{{ .DisplayName }}</a> 
            {{ if not .IsEndOfPath }} > {{ end }}  
        </span>
        {{ end }}
    </ol>
</nav>
{{ end }}