{{template "layout.html" .}}

{{define "head"}}
<script>
  let COOLDOWN = 10000 // 10 seconds
  let lastCreateRepoTime = 0

  function cooldownDiff() {
    let now = Date.now()
    const secondsToWait = COOLDOWN - (now - lastCreateRepoTime)
    return Math.ceil(Math.max(secondsToWait / 1000,0))
  }

  function generateAccessCode() {
    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    let code = ""
    for(let i=0; i<5; i++) {
      const idx = Math.floor(Math.random() * characters.length)
      code += characters[idx]
    }
    return code
  }

  function createRepo() {
    const cooldown = cooldownDiff()
    if (cooldown > 0) {
      $("#messages").addClass("warning").show().text(`Cannot create repo now. Please wait ${cooldown} seconds.`)
      return
    }
    const repo_name = document.getElementById("repo-name").value
    const data = {"Name": repo_name}
    fetch(`/create-repo/`,{
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data)
    })
    .then((response) => {
        if (!response.ok) {
          $("#message").addClass("warning").show().text("Failed to create the repo. Please try again.")
        } else {
          return response.json()
        }
    })
    .then((data) => {
        $("#messages").removeClass("warning").show().text("Repo created successfully. Redirecting...")
        const access_code = data['access_code']
        lastCreateRepoTime = Date.now()
        setTimeout(() => {
          window.location.href = `/uploads/${access_code}`
        }, 3000);
    })
    .catch((error) => {
        console.log(error)
    })
  }

  function joinRepo() {
    console.log("fired")
    const access_code = document.getElementById("access-code").value
    fetch(`/uploads/${access_code}`)
    .then((response) => {
        if (response.ok) {
          window.location.href = `/uploads/${access_code}`
        }
        else if (response.status === 404) {
          $("#messages").addClass("warning").show().text("Invalid access code")
        } else {
          $("#messages").addClass("warning").show().text("Something went wrong in the server, please try again.")
        }
    })
    .catch((error) => {
        console.log(error)
    })
  }

  function handleModeChange(mode) {
    const container = document.getElementById("action-panel")
    switch (mode) {
      case 'access':
        container.innerHTML = 
          ` 
            <input id="access-code" type="text" pattern="[A-Z]*" maxlength="5" placeholder="Enter 5-letter Access Code" oninput="this.value = this.value.toUpperCase()">
            <button id="join-btn" onclick="joinRepo()">Join</button>
            <button id="return-btn" onclick="handleModeChange('')">Back</button>
          `
        break
      case 'create':
        container.innerHTML = 
          ` 
            <input id="repo-name" type="text" placeholder="Enter repository name">
            <button id="create-btn" onclick="createRepo()">Create</button>
            <button id="return-btn" onclick="handleModeChange('')">Back</button>
          `
        break
      default:
        container.innerHTML = 
          `
            <button id="create-btn" onclick="handleModeChange('create')">Create new file repository</button>
            <button id="join-btn" onclick="handleModeChange('access')">Access an existing repository</button>
          `
        break
    }
    $("#messages").removeClass("warning").hide().text("")
  }

  $(document).ready(() => {
    handleModeChange("")
    $("#messages").removeClass("warning").hide().text("")
  })
</script>
{{end}}

{{define "content"}}
<link rel="stylesheet" type="text/css" href="/static/styles/index.css">
<div id="action-block">
  <div id="action-panel">
  </div>
  <div id="messages">
  </div>
</div>
{{end}}