<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/layout.css">
    <title>Go Share Files!</title>
    {{block "head" .}}{{end}}
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-title">GoShareFiles by NeedSuqqort</a>
            <div class="nav-links">
                <a href="/uploads">View Files</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            {{block "content" .}}{{end}}
        </div>
    </div>
</body>
</html>
