{{template "layout.html" .}}

{{define "head"}}
<script>
    let currentFolderName = ""

    function handleViewMore(path, isDir) {
        if (isDir === "false") {
            return
        }
        fetch(`/uploads/${path}`)
        .then((res) => {
            if (res.ok) {
                window.location.href = `/uploads/${path}`
            }
        })
        .catch((error) => {
            console.log(error)
        })
    }

    function handleDeleteItem(path,isDir) {
        console.log(path)
        if (isDir) {
            if (!confirm("Are you sure you want to delete this folder? All files inside the folder will be lost.")) {
                return
            }
        } else {
            if (!confirm("Are you sure you want to delete this file?")) {
                return
            }
        }
        event.preventDefault()
        fetch(path, {
            method: "DELETE"
        })
        .then((res) => {
            if (res.ok) {
                window.location.reload()
            }
        })
        .catch((error) => {
            console.log(error)
        })
    }

    function getFolderName() {
        let files = event.target.files;
        if (files.length > 0) {
            let folderName = files[0].webkitRelativePath.split('/')[0];
            console.log("Folder name:", folderName);
            currentFolderName = folderName
        }
    }

    $(document).ready(() => {
        $("#upload-bar-form").on('submit',(event) => {
            event.preventDefault()
            const data = new FormData($("#upload-bar-form")[0])
            data.append("path", window.location.pathname)
            console.log(data)

            fetch('/files/', {
                method: "POST",
                body: data
            })
            .then((response) => {
                if (response.status === 200) {
                    $("#message").text("File uploaded successfully.")
                    $("#upload-bar-form")[0].reset()
                    location.reload()
                } else {
                    $("#message").text("Upload failed. Please try again.")
                }
            })
            .catch((error) => {
                console.log(error)
            })
        })

        $("#create-folder-form").on('submit',(event) => {
            event.preventDefault()

            const folderData = new FormData($("#create-folder-form")[0])
            const folderName = folderData.get("folder-name")
            fetch(`/create-folder/${window.location.pathname}/${folderName}`)
            .then((response) => {
                if (response.status === 200) {
                    $("#message").text("File uploaded successfully.")
                    $("#create-folder-form")[0].reset()
                    location.reload()
                } else {
                    $("#message").text("Upload failed. Please try again.")
                }
            })
            .catch((error) => {
                console.log(error)
            })
        })

        $("#upload-folder-form").on('submit',(event) => {
            event.preventDefault()
            const data = new FormData($("#upload-folder-form")[0])
            const files = document.getElementById("allFiles").files
            data.append("folder_name", currentFolderName)
            data.append("path", window.location.pathname)

            for (let i=0; i < files.length; i++) {
                data.append('files',files[i])
            }

            fetch('/folders/', {
                method: "POST",
                body: data
            })
            .then((response) => {
                if (response.status === 200) {
                    $("#message").text("File uploaded successfully.")
                    $("#upload-bar-form")[0].reset()
                    location.reload()
                } else {
                    $("#message").text("Upload failed. Please try again.")
                }
            })
            .catch((error) => {
                console.log(error)
            })
        })
    })
</script>
{{end}}

{{define "content"}}
<link rel="stylesheet" type="text/css" href="/static/styles/uploads.css">
<h1 style="text-align: center; margin-bottom: 2rem;">Uploaded Files</h1>
{{template "breadcrumb.html" .Breadcrumbs}}
<div id="access-code">
    <p>Access Code: {{ .AccessCode }}</p>
</div>
<div class="upload-bar">
    <form id="upload-bar-form" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="upload-input" required />
        <button type="submit" class="upload-btn">Upload File</button>
    </form>
    <form id="upload-folder-form" method="post">
        <input type="file" name="folder" class="upload-input" id="allFiles" onchange="getFolderName()" directory webkitdirectory mozdirectory required/>
        <button type="submit" class="upload-folder-btn">Upload Folder</button>
    </form>
    <form id="create-folder-form" method="post">
        <input type="text" name="folder-name" placeholder="New Folder Name" class="upload-input" required />
        <button type="submit" class="create-folder-btn">Create Folder</button>
    </form>
</div>
{{if .Files}}
<div class="files-grid">
    {{range .Files}}
        <div class="file-card">
            <div class="file-name">{{.Name}}</div>
            {{if not .IsDir}}
                <div class="file-info">Size: {{.Size}}</div>
            {{end}}
            <div class="file-info">Last updated: {{.Time}}</div>
            <div class="file-actions">
                {{if .IsDir}} 
                <button class="file-action-btn inspect-btn" onclick="handleViewMore('{{.Path}}','{{.IsDir}}')">
                    Inspect
                </button>
                {{end}}
                <a href="/files/{{.Path}}" class="file-action-btn download-btn">Download</a>
                <button onclick="handleDeleteItem('/files/{{.Path}}','{{.IsDir}}')" class="file-action-btn delete-btn">Delete</a>
            </div>
        </div>
    {{end}}
</div>
{{else}}
    <div class="no-files">
        <h2>No files uploaded yet</h2>
        <p>Share files by uploading one!</p>
    </div>
{{end}}
{{end}}
